<section id="home" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1>Something Went Wrong</h1>
      <pre>{{error.status}} {{error.message}}</pre>
    </div>
  </div>
</section>
